body {
    background-color: #ffffff;
    margin: 0px;

}


h6 {
    color: darkslategrey;
}

button {
    outline: #ffffff !important;
    
}


#abc {
    border: 2px solid dark;
  border-radius: 25px;
}


/*li {
    ğ•‹ğ•¦ğ•Ÿğ•›ğ•š 

}
*/
